/* BLUE: #24C0D9;
BLACK: #5E5865;
Gray: #666;
Dark Gray: #727272;
*/
/* GENERAL STYLES
================================================ */
html { font-size: 62.5%; }

body {
    font-family: 'Sansita', sans-serif;
    font-weight: 300;
    overflow-x: hidden;
    font-size: 1.6rem;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}
h1 {
    font-size: 4.5em;
    font-weight: 300;
}
h2 {
    font-size: 1.8em;
    text-transform: uppercase;
    color: #606060;
}
h3 {
    font-size: 1.7em;
    font-weight: 300;
    margin-bottom: 20px;
    color: #111;
}
p {
    color: #727272;
    font-size: 1.6em;
    line-height: 1.5em;
    font-weight: 400;
}
a {
    font-size: 15px;
    color: #d4ae69;
    font-weight: 400;
    letter-spacing: .3px;
}
a:hover {
    -webkit-transition: background-color .3s ease;
    -moz-transition: background-color .3s ease;
    -o-transition: background-color .3s ease;
    transition: background-color .3s ease;
    color: #2c2c53;
}
.section {
    padding: 75px 0;
}

.section h2{
    letter-spacing: 1px;
}

.section-title {
    margin-bottom: 50px;
    padding-bottom: 20px;
    display: inline-block;
    border-bottom: 1px solid #d4ae69;
}
.button {
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    display: inline-block;
    color: #5F5F5F;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.6rem;
    -webkit-transition: background-color .3s ease;
    -moz-transition: background-color .3s ease;
    -o-transition: background-color .3s ease;
    transition: background-color .3s ease;
}
.button:hover {
    text-decoration: none;
    background: #454545;
    border-color: #454545;
}
.overlay {
    background: rgba(33, 25, 44, 0.9);
}
.table {
    margin-top: 20px;
}
.table td, .table th {
    font-size: 1.4em;

}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border: none;
    padding-left: 0;
    padding-right: 0;
}
/* NAVIGATION
================================================ */

.navbar-default {
    background: #fff;
    border-color: #e0e0e0;
    -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}
.navbar-brand {
    padding: 15px 15px;
    max-width: 220px;
}
.navbar-default .navbar-nav>li>a {
    font-size: 1.7rem;
    color: #949494;
    margin-right: 8px;
    border-bottom: 3px solid transparent;
}


/* HEADER
================================================ */

#home-area {
    background: url(section-hero-bg-flowers.jpg) no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}
#home-area .container {
    padding-top: 150px;
    padding-bottom: 65px;
}
.home-content {
    color: #fff;
    padding-top: 0px;
}
.home-content h1 {
    padding: 35px 80px;
    display: inline-block;
    border: 3px solid #fff;
    text-transform: capitalize;
    font-weight: 200;
}
.home-content p {
    font-size: 3rem;
    font-weight: 200;
    color: #fff;
    letter-spacing: .3px;
    line-height: 1.7em;
    margin: 25px 0 60px 0;
}
.home-content .call-to-action {
    border-radius: 50px;
    /* background: #d4ae69; */
    /* color: #222; */
    color: #fff;
    background-color: #31a42e;
    letter-spacing: 1px;
}
.home-content .call-to-action:hover {
    background-color: #21711f;
    cursor: pointer;
}
.home-feature {}
/* SERVICES
================================================ */

#services {
    background-color: #fff;
}
#services a:hover {
    color: #2c2c53;
    text-decoration: underline;
}
#services .single-service {
    margin: 30px 25px;
}

#services .single-service p{
    font-size: 1.7rem;
    margin: 0;
}

#services .service-title {
    color: #d4ae69;
}
#services .service-content {
    margin-left: 65px;
    margin-top: -66px;
}

#services .opening-hours {
    padding: 2px;
}
/* PAYMENT METHODS
 ================================================ */

#payment-methods {
  background-color: #f5f5f5;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

#payment-methods .payment-method-item {
  color: #d4ae69;
  margin: 30px;
}

#payment-methods .payment-method-item p{
  margin: 20px 0;
  font-size: 2rem;
}

/* CONTACT US
 ================================================ */
#contact p {
    font-size: 2rem;
}
.contact-info {
    margin-top: 30px;
}
.contact-info span {
    color: #d4ae69;
    margin-right: 10px;
}
.contact-info span.color-primary {
    color: #333;
}

/* CONTACT MAP
 ================================================ */

#contact-map.section{
    padding: 0;
}

#contact-map .card{
  border-radius: 0;
  border: 1px solid #e0e0e0;
}
/* FOOTER
================================================ */

footer {
    background: #fff;
    border-top: 1px solid #efefef;
    padding: 40px 0;
}
.footer-menu li {
    border-right: 1px solid #e4e4e4;
}
.footer-menu li:last-child {
    border-right: none;
}
.footer-menu a {
    color: #A8A8A8;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0 5px;
}
.footer-menu a:hover {
    color: #2c2c53;
    text-decoration: none;
}
.footer-content p {
    font-size: 14px;
}
