/* Medium devices (desktops, 992px and up) */

@media (max-width: 992px) {
    .home-feature {
        margin-top: 40px;
    }
}
/* Small devices (tablets, 767px and up) */

@media (min-width: 767px) {
  .navbar-default .navbar-nav>li.active>a{
      background-color: transparent;
      border-bottom: 3px solid #d4ae69;
  }

  .navbar-default .navbar-nav>li.active>a:hover{
      background-color: transparent;
  }

  .navbar-default .navbar-nav>li.active>a:focus{
      background-color: transparent;
  }

  .navbar-default .navbar-nav>li>a:hover {
      background-color: transparent;
      color: #2c2c53;
      border-bottom: 3px solid #d4ae69;
  }
}


@media (max-width: 767px) {

    .home-content {
        text-align: center;
    }

    .home-content h1 {
        padding: 30px;
    }

    #services div[itemprop="department"]:nth-child(1) {
      margin-bottom: 140px;
    }
    
    .service-content {
        margin-left: 0px;
        margin-top: -17px;
    }
    .single-portfolio {
        float: left;
        width: 50%;
    }
    .portfolio-filter {
        text-align: center;
    }
    .portfolio-filter a {
        line-height: 45px;
    }
    .section-title {
        text-align: center;
    }
    .footer-menu {
        text-align: center;
    }
    .footer-content {
        text-align: center;
    }
}
/* Extra Small Devices (Phone, 480px and up) */

@media (max-width: 480px) {
    .home-content {
        padding-top: 0px;
    }
    .single-portfolio {
        float: left;
        width: 100%;
    }
    #newsletter input[type="email"] {
        font-size: 16px;
    }
    h1 {
    font-size: 2.5em;
    font-weight: 300;
    }
}
