/* COLORS
primary = #00c853
primary dark = #00b248
priamry light = #66ffa6

line = #e0e0e0
text = #727272
 */
/* GENERAL STYLES
================================================ */

body {
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 300;
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}
h1 {
    font-size: 4.5em;
    font-weight: 300;
}
h2 {
    font-size: 1.8em;
    text-transform: uppercase;
    color: #606060;
}
h3 {
    font-size: 1.7em;
    font-weight: 300;
    margin-bottom: 20px;
    color: #111;
}
p {
    color: #727272;
    font-size: 1.6em;
    line-height: 1.5em;
    font-weight: 400;
}
a {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: .3px;
}
a:hover {
    -webkit-transition: background-color .3s ease;
    -moz-transition: background-color .3s ease;
    -o-transition: background-color .3s ease;
    transition: background-color .3s ease;
    color: #2c2c53;
}

.section {
    padding: 120px 0;
}

.section h2{
    letter-spacing: 1px;
}

.section .section-title {
    display: inline-block;
    margin-bottom: 50px;
}

.section hr.section-title-divider {
    max-width: 70%;
    border-top: 1px solid #e0e0e0;
}

.button {
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    display: inline-block;
    color: #5F5F5F;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.6rem;
    -webkit-transition: background-color .3s ease;
    -moz-transition: background-color .3s ease;
    -o-transition: background-color .3s ease;
    transition: background-color .3s ease;
}
.button:hover {
    text-decoration: none;
    background: #454545;
    border-color: #454545;
}

.table {
    margin-top: 20px;
}
.table td, .table th {
    font-size: 1.4em;

}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border: none;
    padding-left: 0;
    padding-right: 0;
}
/* NAVIGATION
================================================ */

.navbar-default {
    background: #fff;
    border-color: #e0e0e0;
    -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}
.navbar-brand {
    padding: 10px 15px;
    max-width: 220px;
    color: #00c853;
}

.navbar-brand span.logo-text {
  line-height: 32px;
  font-family: 'Sansita', Arial, sans-serif;
  padding-left: 40px;
  background-image: url('../favicon/apple-icon-76x76.png');
  background-size: 34px 34px;
  display: inline-block;
  background-repeat: no-repeat;
}

.navbar-brand i {
    color: #00c853;
}

.navbar-default .navbar-nav>li>a {
    font-size: 1.7rem;
    padding-top: 18px;
    color: #949494;
    margin-right: 8px;
    border-bottom: 3px solid transparent;
}

/* HEADER
================================================ */

#home-area {
    /* background: url(../img/section-hero-bg-flowers.jpg) no-repeat; */
    /* background-position: 50% 50%;
    background-size: cover; */
    position: relative;
}

#home-area::before {
  background-image: url(../img/section-hero-bg-flowers-phone.jpg);
  background-position: 50% 100%;
  background-size: cover;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

#home-area::after {
  background: linear-gradient(45deg, #5451ffc7, #31f984e6);
  background-position: 50% 50%;
  background-size: cover;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: -1;
}

.overlay {
    background: rgba(23, 23, 22, 0.44);
}

#home-area .container {
    padding-top: 150px;
    padding-bottom: 100px;
}

#home-area .home-content {
    color: #fff;
    max-width: 300px;
    padding-top: 0px;
    margin-left: auto;
    margin-right: auto;
}

#home-area .home-content h1 {
    font-size: 4rem;
    padding: 20px 40px 0px;
    display: inline-block;
    margin-bottom: 0;
    text-transform: capitalize;
    margin-top: 50px;
    font-weight: 200;
    font-family: 'Sansita', Arial, sans-serif;
}

#home-area .home-content .hero-title-divider {
  max-width: 45%;
  margin: 10px auto;
  border-top: 2px solid #fff;
}

#home-area .home-content p {
    font-size: 3rem;
    font-weight: 200;
    color: #fff;
    letter-spacing: .3px;
    line-height: 1.7em;
    margin: 0 0 60px 0;
}
#home-area .home-content .call-to-action {
    border-radius: 50px;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 1.4rem;
    color: #fff;
    background-color: #00b248;
    letter-spacing: 1px;
}
#home-area .home-content .call-to-action:hover {
    background-color: #00c853;
    cursor: pointer;
}
/* SERVICES
================================================ */

#services {
    background-color: #fff;
}

#services a {
  color: #00c853;
}

#services a:hover {
    color: #00b248;
    text-decoration: underline;
}
#services .single-service {
    margin: 30px 25px;
}

#services .single-service p{
    font-size: 1.7rem;
    margin: 0;
}

#services .service-title {
    color: #00c853;
}
#services .service-content {
    margin-left: 65px;
    margin-top: -66px;
}

#services .opening-hours {
    padding: 2px;
}
/* PAYMENT METHODS
 ================================================ */

#payment-methods {
  background-color: #f5f5f5;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

#payment-methods .payment-method-item {
  color: #00c853;
  margin: 30px;
}

#payment-methods .payment-method-item p{
  margin: 20px 0;
  font-size: 2rem;
}

/* CONTACT US
 ================================================ */
#contact p {
    font-size: 2rem;
}

#contact a {
  color: #00c853;
  font-size: 2rem;
}

#contact a:hover {
    color: #00b248;
    text-decoration: underline;
}

#contact .contact-info {
    margin-top: 30px;
}
#contact .contact-info span {
    color: #00c853;
    margin-right: 10px;
}
#contact .contact-info span.color-primary {
    color: #333;
}

/* CONTACT MAP
 ================================================ */

#contact-map.section{
    padding: 0;
}

#contact-map .card{
  border-radius: 0;
  border: 1px solid #e0e0e0;
}

#contact-map .card a {
  color: #00c853;
}

#contact-map .card a:hover {
  color: #00b248;
  text-decoration: underline;
}
/* FOOTER
================================================ */

footer {
    background: #fff;
    border-top: 1px solid #efefef;
    padding: 40px 0;
}
.footer-menu li {
    border-right: 1px solid #e4e4e4;
}
.footer-menu li:last-child {
    border-right: none;
}
.footer-menu a {
    color: #A8A8A8;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0 5px;
}
.footer-menu a:hover {
    color: #2c2c53;
    text-decoration: none;
}
.footer-content p {
    font-size: 14px;
}
