
/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) {

  #home-area .home-content {
    max-width: 550px;
  }

  #home-area .home-content h1 {
      font-size: 7.5rem;
  }

  #home-area .home-content .hero-title-divider {
    margin: 20px auto 10px auto;
  }

  .navbar-default .navbar-nav>li.active>a{
      background-color: transparent;
      border-bottom: 3px solid #00c853;
  }

  .navbar-default .navbar-nav>li.active>a:hover{
      background-color: transparent;
  }

  .navbar-default .navbar-nav>li.active>a:focus{
      background-color: transparent;
  }

  .navbar-default .navbar-nav>li>a:hover {
      background-color: transparent;
      color: #2c2c53;
      border-bottom: 3px solid #00c853;
  }
}

@media (min-width: 767px) {
  #home-area::before {
  background-image: url(../img/section-hero-bg-flowers-tablet.jpg);
  height: 100%;
  }
}

@media (min-width: 1200px) {
  #home-area::before {
  background-image: url(../img/section-hero-bg-flowers-desktop.jpg);
  height: 100%;
  }
}

@media (max-width: 767px) {

    .section {
        padding: 75px 0;
    }

    #home-area .container {
      padding-top: 100px;
    }

    #home-area .home-content {
        text-align: center;
    }

    #home-area .home-content h1 {
        padding: 10px;
    }

    #home-area .home-content p {
        font-size: 2rem;
    }

    #services div[itemprop="department"]:nth-child(1) {
      margin-bottom: 140px;
    }

    .service-content {
        margin-left: 0px;
        margin-top: -17px;
    }
    .single-portfolio {
        float: left;
        width: 50%;
    }
    .portfolio-filter {
        text-align: center;
    }
    .portfolio-filter a {
        line-height: 45px;
    }
    .section-title {
        text-align: center;
    }
    .footer-menu {
        text-align: center;
    }
    .footer-content {
        text-align: center;
    }
}
/* Extra Small Devices (Phone, 480px and up) */

@media (max-width: 480px) {
    .home-content {
        padding-top: 0px;
    }
    .single-portfolio {
        float: left;
        width: 100%;
    }

    .section-title {
        padding-bottom: 10px;
    }

    #newsletter input[type="email"] {
        font-size: 16px;
    }
    h1 {
    font-size: 2.5em;
    font-weight: 300;
    }
}
